services:

  ollama:
    build:
      context: .
      dockerfile: ollama/docker/Dockerfile
    ports:
      - "8081:8081"
    volumes:
      - ./ollama:/app
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    networks:
      - localainetwork
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - ollama
    networks:
      - localainetwork

networks:
  localainetwork:
    external: true
